/*--------------------------------general*/
body {
  background-image: url(https://github.com/Ellis-Robinson/Memory-Game/blob/main/assets/imgs/cloudsbg.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center
}

/*----------------------function buttons section*/


.function-buttons {
      margin: 20px 0px;
}


/*-----------------------------------game area*/
.game-area {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 90vw;
    border: dashed 1px;
    margin: 0 5%;
}
.game-rows {
  height: 50%;
}
.game-square {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 10%;
  border: outset 7px rgb(2 107 149);
  cursor: pointer;
  margin: 5px;
}
.blue {
    background-color: rgb(0 51 76);
}


.flash {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8) ;
}

.announcement {
  position: absolute;
  left: 50%;
  top: 40%;
}

.hidden {
  display: none;
}

.announcement-content {
    position: relative;
    right: 50%;
    animation-duration: 1s;
    animation-name: shake;
}

.slide-in-right {
  position: relative;
  animation-duration: 1s;
  animation-name: slide-in-right;
}
.slide-out-left {
  position: relative;
  right: 150vw;
  animation-duration: 1s;
  animation-name: slide-out-left
  
}

/*--------------------animation keyframes*/

@keyframes shake {
  from {transform: rotate(0deg);}
  
  20% {transform: rotate(5deg);}
  40% {transform: rotate(-5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-5deg);}
  
  to {transform: rotate(0deg);}
}

@keyframes slide-in-right {
  from {left: 100vw;
  opacity: 0}

  80% {left: -10vw;}
  
  to {left: 0;
    opacity: 1;}
}

@keyframes slide-out-left {
  from {
    right: 0;
    opacity: 1;}

  50% {opacity: 0;}

  to {right: 100vw;}
}