/*To do list
 - change background color of modal
 - add media queries
 */

/*--------------------------------general*/
body {
  background-image: url(https://github.com/Ellis-Robinson/Memory-Game/blob/main/assets/imgs/cloudsbg.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center
}

/*----------------------function buttons section*/


.function-buttons {
      margin: 20px 0px;
}

.md-screen {
  display: none;
}


/*-----------------------------------game area*/
.game-area {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 70px;
    width: 90vw;
    border: dashed 1px;
    margin: 70px 5% 0px;
}
.game-rows {
  height: 50%;
}
.game-square {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  border: outset 7px rgb(2 107 149);
  cursor: pointer;
  margin: 5px;
}
.blue {
    background-color: rgb(0 51 76);
}


.flash {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8); 
  background-color: rgb(67, 193, 225);
  border-color: rgb(39, 143, 185);
}
.flash-success {
  box-shadow: 0 0 10px 15px rgba(0, 193, 16, 0.85); 
}
.flash-fail {
  box-shadow: 0 0 10px 15px rgba(255, 0, 0, 0.8);
}

.announcement {
  position: absolute;
  left: 50%;
  top: 17%;
}

.hidden {
  display: none;
}

.announcement-content {
    position: relative;
    right: 50%;
    animation-duration: 1s;
    animation-name: shake;
}
.success-glow {
  text-shadow: 0px 0px 5px rgb(44, 200, 37);
}

.slide-in-right {
  position: relative;
  animation-duration: 1s;
  animation-name: slide-in-right;
}
.slide-out-left {
  position: relative;
  right: 150vw;
  animation-duration: 1s;
  animation-name: slide-out-left
  
}
/*----------------------------score info section*/
.red-heart {
  color: #ff0000;
  text-shadow: 0px 0px 5px white;
}

/*--------------------animation keyframes*/

@keyframes shake {
  from {transform: rotate(0deg);}
  
  20% {transform: rotate(5deg);}
  40% {transform: rotate(-5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-5deg);}
  
  to {transform: rotate(0deg);}
}

@keyframes slide-in-right {
  from {left: 100vw;
  opacity: 0}

  80% {left: -10vw;}
  
  to {left: 0;
    opacity: 1;}
}

@keyframes slide-out-left {
  from {
    right: 0;
    opacity: 1;}

  50% {opacity: 0;}

  to {right: 100vw;}
}

/*-------------------media Queries*/
