/*general*/
body {
  background-image: url(https://github.com/Ellis-Robinson/Memory-Game/blob/main/assets/imgs/cloudsbg.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  /*function buttons section*/
  .function-buttons {
        margin: 20px 0px;
  }
  
  
  /*game area*/
  .game-area {
      height: 360px;
      width: 90vw;
      border: dashed 1px;
      margin: 0 5%;
  }
  .game-rows {
    height: 50%;
  }
  .game-square {
    width: 140px;
    height: 140px;
    border-radius: 10%;
    border: outset 7px rgb(2 107 149);
  }
  .blue {
      background-color: rgb(0 51 76);
  }
  
  